<% if @category.children.count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= @category.name %> Sub Categories</div>
    <ul class="list-group">
      <% @category.children.each do |child_category| %>
        <li class="list-group-item">
          <%= link_to child_category.name, child_category %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>