<div class="container down-20px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Create User</h4>
    </div>

    <div class="panel-body">
      <%= render 'edit' %>
    </div>

    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">Save User</button>
      <%= link_to 'Back', users_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('button[type="submit"]').click(function() {
      console.log("User new submit called...");
      $('form').submit();
    })
  })
</script>