.down-200px {
  margin-top: 200px;
}

.down-50px {
  margin-top: 50px;
}

.down-20px {
  margin-top: 20px;
}

h1 {
  font-size: larger;
}

.action_column {
  width: 220px;
  text-align: center
}

.panel-padding {
  padding: 20px;
}

.panel-column-border-right {
  border-right: solid 1px #dcdcdc
}

.panel-column-border-left {
  border-left: solid 1px #dcdcdc
}