<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New category</h4>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">Save Category</button>
    <%= link_to 'Back', categories_path, class: "btn btn-default" %>
  </div>
</div>

<script>
  $(function() {
    $('button[type="submit"]').click(function() {
      console.log("Category new submit called...");
      $('form').submit();
    })
  })
</script>